<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.digipay.mfast">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <!-- Provide required visibility configuration for API level 30 and above -->
    <queries>
        <!-- If your app checks for SMS support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- If your app checks for call support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <!-- disable SplashScreen since rnfirebase notification is not support
         instead, using MainActivity as a SplashScreen with theme settings
        -->
        <!--<activity-->
        <!--android:name=".SplashActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/SplashTheme">-->
        <!--android:screenOrientation="portrait"-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />
<action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <service
            android:name="com.carusto.ReactNativePjSip.PjSipService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="deeplink_app">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:scheme="@string/deeplink_scheme" />
            </intent-filter>

            <intent-filter android:label="deeplink_http">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="@string/deeplink_scheme" android:pathPrefix="/" android:scheme="http" />
            </intent-filter>
            <intent-filter android:label="deeplink_http">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="join.mfast.vn" android:pathPrefix="/" android:scheme="https" />
            </intent-filter>
               <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="mfastmobile" android:host="*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="mfastmobile.app.link" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FlutterModuleActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleApiKey"/><!--DEV-->
                <!-- Branch keys -->
        <!-- (Omit if setting keys in branch.json) -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branchKey"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="@string/branchKeyTest"/>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!-- React Native Firebase -->
        <service android:name="com.moengage.firebase.MoEFireBaseMessagingService"
            android:exported="false">
            <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
         <!-- <service android:name="io.invertase.firebase.messaging.RNFirebaseMessagingService"
             android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> -->
        <!-- <service android:name="io.invertase.firebase.messaging.RNFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> -->
        <!-- <service android:name="io.invertase.firebase.messaging.RNFirebaseBackgroundMessagingService" /> -->

        <!-- firebase-messaging v21 -->
        <service
            android:name=".java.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <receiver-->
<!--            android:name="io.invertase.firebase.notifications.RNFirebaseNotificationReceiver"-->
<!--            android:exported="true" />-->

<!--        <receiver-->
<!--            android:name="io.invertase.firebase.notifications.RNFirebaseBackgroundNotificationActionReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="io.invertase.firebase.notifications.BackgroundAction" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name="io.invertase.firebase.notifications.RNFirebaseBackgroundNotificationActionsService"-->
<!--            android:exported="true" />-->

<!--        <receiver-->
<!--            android:name="io.invertase.firebase.notifications.RNFirebaseNotificationsRebootReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
<!--                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->


        <meta-data
            tools:replace="android:value"
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <!-- Set custom default icon.
        This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <!-- Google API Key for react-native-maps -->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyA7Xlo2_FURcsea1QNaA3GbJ6n5kdpEioU" />-->

        <!-- Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Enable auto tracking event FB -->  
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
           android:value="true"/>
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
           android:value="true"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        <!-- <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> -->

         <!-- Zalo SDK -->
        <meta-data
            android:name="com.zing.zalo.zalosdk.appID"
            android:value="@string/zalo_app_id" />

        <activity
            android:name="com.zing.zalo.zalosdk.oauth.BrowserLoginActivity"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/scheme_zalo_app_id" />
            </intent-filter>
        </activity>

    </application>

</manifest>
